
/*_____________Général_____________*/
@font-face {
 font-family: "Optician-Sans";
 src: url("fonts/Optician-Sans.otf") format('truetype');
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

section{
  border-top: 2px solid #D1E2E8;
  min-height: 65vh;
}

h1,
h2{
  font-family: "Optician-Sans";
}

.btn{

}


/*_____________Menu burger_____________*/

nav{
  min-height: 100px;
  background-color: #D1E2E8;
}

#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle a{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

#menuToggle a:hover{
  color: #E8BAC4;
  font-weight: bold;
  text-decoration: underline;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #7C939C;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}


#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen*/

#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #7C939C;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: none;
}

#main-menu:target + .backdrop {
  display: block;
  background: rgba(250, 255, 177, 0.8);
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
  z-index: 998;
}


/*_____________Textes_____________*/

h1{
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #7C939C;
}

h2{
  font-weight: bold;
  font-size: 1,5em;
  text-align: center;
  color: #7C939C;
}


img{
  width: 100%;
}


/*_____________Boutons_____________*/


.btn {
  background-color: #7C939C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/*_____________Page alphabet - Grid & Flex_____________*/

.header{
  text-align: center;
}

#container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.box{
  background: #7C939C;
  color: #fff;
  padding: 40px;
  margin: 10px;
  text-align: center;
}

#container:target{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CTA{
  text-align: center;
}

.CTA a{
  margin: 10px;
}


/*_____________Animations_____________*/
.A:hover{
  transform: rotate(0.5turn);
}
